body{
    display: flex;
    flex-direction: column
    
}
.mc1{
display: flex;
padding-left: 5em;
padding-right: 5em;
padding-top: 1EM;
background-color: #1F2937;
color: #F9FAF8;
justify-content: space-between;
align-items: baseline;
gap: 1em;
flex-wrap: nowrap;

}
.hlogo{
margin-right: auto;
font-weight: 700;
font-size: 24PX;
}

.hlinks{
    font-size: 14PX;
}

a {
    color:white;
    text-decoration: none;
}

.mc2{
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5em;
    gap: 1em;
}

.sc1{
max-width: 40%;
text-align: start;
}

.sc1h{
font-size: 48px;
font-weight: 900;
color: #F9FAF8
}

.sc1c{
font-size: 18px;
color: #E5E7EB;
}

.sc1btn{
background-color: blue;
color: white;
padding-top: .5em;
padding-bottom: .5em;
padding-left: 3em;
padding-right: 3em;
border-radius: 8px;
}

.sc2{
display: flex;
max-height: auto;
max-width:45%

}

.mc3{

}

.sc3{

}

.sc3c1{

}

.sc3c2{
    
}
.sc3c3{
    
}
.sc3c4{
    
}
.img{

}
.txt{

}

.mc4{

}

.sc4{

}

.sc4q{

}

.sc4p{

}

.mc5{

}

.sc5{

}

.sc6{

}

.sc6h{

}

.sc6t{

}

.sc7{

}

.mc6{

}

